---
layout: default
---




      
<div style='background:repeating-linear-gradient(135deg, #e6e6e6 0px, #e6e6e6 2px,transparent 0px, transparent 6px),#f2f2f2'>
  <section id='shider' style='background:linear-gradient(45deg, hsl(0deg 0% 0% / 20%) 0%, #00000080 100%), center/cover url(/img/p4.jpg) no-repeat #cccccc;'>
  <h2>AHMEDABAD ESCORTS</h2>
    <h1>LET'S FUN WITH <span>ME!</span></h1>
    
    <p>Call or WhatsApp to Book an Appointment</p>
    <div style="display:inline-flex;margin-top:20px;flex-wrap: wrap;justify-content: center;">
      <a id='cal_btn' href="tel:+918128362205"><span class='icon'></span>&nbsp;&nbsp;+91 8128362205</a>
      <a id='cal_btn' href="https://api.whatsapp.com/send?phone=+918128362205&text=Please%20Send%20Real%20Call%20Girls%20Pictures" style="background:linear-gradient(45deg, #28D146 0%, #5ffc7b 100%);"><span class='icon'></span>&nbsp;&nbsp;+91 8128362205</a>
    </div>
  </section>
  <section id='abut'>

    <style>
      #abt_box{
        /* display:flex;margin-top:40px;justify-content: center;background:white;border-radius:5px; */
        display: flex;align-items: center;padding-top:40px;justify-content: center;
      }

      #abt_box a{
        padding: 10px 15px;margin-top: 20px;display: inline-block;background: black;color: white;border-radius: 25px;
      }
      #abt_box a:hover{
        background:#1a73e8;
      }


      @media (max-width:800px){
        #abt_box{
          flex-direction: column;
        }
        
      }
    </style>


    <h1>About</h1>

    <h2 style="text-align:center;margin-top:20px;padding:0 var(--row_widh);color:hsl(0, 0%, 30%);">Welcome to Sohani Sharma Escorts Service Provider in Ahmedabad</h2>

    <div id='abt_box'>

        <div style='aspect-ratio:3/4;background:#f2f2f2;max-width:calc(300px + 10%);width:100%; display:flex;border-radius: 50px 0 0 0;overflow: hidden;' id="dygl">
          <img src="img/my-name-is-sohani-sharma-and-i-am-best-escorts-service-provider.jpg" style='width:100%;object-fit: cover;' alt="">
        </div>
      
      <div style="background: white;padding:20px;max-width:400px;border-bottom: 10px solid #4385f5;border-radius: 0 0px 50px">
        <h2 style="margin-bottom:15px;border-left: 5px solid #4385f5;padding-left: 10px;">We Provide Escorts Service with Best Quality</h2>
        <p style="line-height:1.5;letter-spacing:.5px;color: hsl(0, 0%, 30%);margin-bottom:10px;">Hii My name is Sohani Sharma i am Best escorts service provider in all over Ahmedabad. We are specializing in providing high class escort models. Each models working with us are top class models like, Air Hostess, House Wife, Working Girls, College Girls, Desi Girls etc.</p>

        <p style="line-height:1.5;letter-spacing:.5px;color: hsl(0, 0%, 30%);">All escorts girls come from good background so your and models privacy will be kept secured with us. We provide escorts services in all over ahmedabad like, sg highway escorts service, vastrapur escorts service, cg road escorts service, kankaria escort service, gandhi nagar escort service, and many other places in india.</p>

        <a href="/about">READ MORE...</a>
      </div>

    </div>
  </section>
</div>


<section id='galry' style="margin-bottom:50px;">
  <style>
   #imgbx{
		overflow: hidden;
	}

  </style>
  <div style='background:repeating-linear-gradient(45deg, #1a1a1a 0px, #1a1a1a 7px, #00000000 10px),repeating-linear-gradient(135deg, #1a1a1a 0px, #1a1a1a 7px,#00000000 10px),linear-gradient(90deg, #4385f5 0%, #1cb5e9 100%);height:300px;display:flex;align-items:center;justify-content:center;'><h1>Recent Escort Girls</h1></div>

  
  <style>
    #tfhgh{margin:-15px;}
    #tfhgh>a{
      margin:15px;border-bottom: 10px solid black;
    }
    #tfhgh>a:hover{
      border-bottom-color:#4385f5;
    }
    #tfhgh>a:hover img{
      transform: scale(1.2);
    }
  </style>

<div id='tfhgh' style='display:flex;margin-top:-50px;flex-wrap: wrap;justify-content: center;'>

  <!-- {% for post in paginator.posts %}
  <div class="col-md-6 mb-5">
      {% assign author = site.authors[post.author] %}
      <div class="card">
          <a href="{{ post.url | absolute_url }}">
              {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
          </a>
          <div class="card-block">
              <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
              <p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
              <div class="metafooter">
                  <div class="wrapfooter small d-flex align-items-center">
                      <span class="author-meta">
                      By  <span class="post-name"> {% if post.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}, </span>             
                      on <span class="post-date">{{ post.date | date_to_string }}</span>
                      </span>               
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %} -->

  
        {% for post in paginator.posts %}
            <a href="{{ post.url | absolute_url }}" style='width:300px;border-radius: 0 0px 50px 50px;overflow: hidden;'>
              <div style='aspect-ratio:3/4;background:#f2f2f2;width:100%;display:flex;' id="imgbx">
                <img src="/img/{{ post.img[0] }}" style='width:100%;object-fit: cover;transition:transform .4s ease;' alt="">
              </div>
              <div style="background:white;text-align: center;color: black;padding:20px 10px;position: relative;">
                <span style="position: absolute;top: -25px;left: 50%;padding: 10px;background: #4385f5;transform: translatex(-50%);color: white;border-radius: 50px;">{{ post.categories }}</span>
                <h2 style="margin-bottom:10px;">{{ post.name }}</h2>
                <p style="color:hsl(0, 0%, 30%);">Age: {{post.age}} year</p>
              </div>
            </a>
        {% endfor %}    

      <!-- <a href="#" style='width:300px;'>
        <div style='aspect-ratio:3/4;background:#f2f2f2;width:100%;display:flex;'>
          <img src="img/p1.jpg" style='width:100%;object-fit: cover;' alt="">
        </div>
        <div style="background:white;height:70px;display:flex;align-items:center;justify-content:center;font-size:20px;color:black;font-weight:bold">
          JHANVI
        </div>
      </a> -->

    </div>
  </section>

<section style='background: linear-gradient(90deg, #4385f5 0%, #1cb5e9 100%);padding:20px var(--row_widh);display:flex;justify-content:center;flex-wrap: wrap;'>
    <div style='text-align: center;padding:20px 30px;border-radius: 5px;background: #ffffff1a;margin:20px;min-width:150px;'>
      <div class='icon' style='font-size: 60px;color:white;'></div>
      <h2 style='margin:10px 0;color:white;'>1000<span style='font-size:18px;'>+</span></h2>
      <p style='color:#ffffffe6;'>Customers</p>
    </div>

    <div style='text-align: center;padding:20px 30px;border-radius: 5px;background: #ffffff1a;margin:20px;min-width: 150px;'>
      <div class='icon' style='font-size: 60px;color:white;'></div>
      <h2 style='margin:10px 0;color:white;'>100<span style='font-size:18px;'>+</span></h2>
      <p style='color:#ffffffe6;'>location</p>
    </div>

    <div style='text-align: center;padding:20px 30px;border-radius: 5px;background: #ffffff1a;margin:20px;min-width: 150px;'>
      <div class='icon' style='font-size: 60px;color:white;'></div>
      <h2 style='margin:10px 0;color:white;'>200<span style='font-size:18px;'>+</span></h2>
      <p style='color:#ffffffe6;'>VIP Clients</p>
    </div>

</section>

<section id='Srvic' style='padding-bottom:50px;position: relative;'>
  <style>
    #Srvic h1{position:relative;display:inline-block;margin-bottom:20px;z-index:0;}
    #Srvic h1::after{
      content: '';
      height: 15px;
      width: 70%;
      background: #4385f5;
      position: absolute;
      bottom: 0;
      z-index: -1;
      right: -5px;
    }
    #serv_box{
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      margin:-3vw;

    }
    #serv_box div{
      width:250px;
      height:250px;
      margin:3vw;
      border-radius:5px;
      color:white;
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction: column;
      background: #4385f5;
      padding:20px;
      text-align:center;
      cursor:pointer;
    }

    #serv_box div:hover{
      background:black;
      
    }

    #serv_box p{
      font-size:100px;
      font-family:'Material Icons Round';
      margin-bottom:10px;
    }

    #serv_box svg{
      width:60%;
      padding:20px;
      background:white;
      border-radius:50px;
      
    }

  </style>

  <div style='text-align:center;margin-bottom:30px;background:repeating-linear-gradient(157.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(67.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, rgb(67,133,245),rgb(67,133,245));padding:100px;'>
    <h1>Locations</h1>
    <p>Service Provied in all over Ahmedabad like Sg highway, Vastrapur, Cg Road, Kankaria, Gandhi Nagar, Maninagar, Kalupur, Shahibaug, etc.</p>
  </div>
  <div id='serv_box' style='padding:20px var(--row_widh);'>
    <div>
      <svg viewBox="0 0 128 107" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M64.4181 7.94425C64.4181 6.44225 63.1891 5.2135 61.6873 5.2135H27.8848C26.3828 5.2135 25.1541 6.4425 25.1541 7.94425V17.6975C25.1541 19.1995 26.3831 20.4283 27.8848 20.4283H61.6871C63.1891 20.4283 64.4178 19.1993 64.4178 17.6975V7.94425H64.4181V7.94425Z" fill="#A4A9AD"/>
        <rect opacity="0.2" x="25.1541" y="12.0745" width="39.2645" height="2.4355" fill="black"/>
        <rect x="11.2402" y="20.4282" width="70.5082" height="82.7535" fill="#FFB819"/>
        <rect opacity="0.1" x="11.2402" y="58.3383" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="61.532" y="76.1025" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="43.5955" y="26.3462" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="54.3252" y="50.1648" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="17.2183" y="31.655" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="16.385" y="91.188" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="26.0334" y="71.1598" width="14.411" height="6.935" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M57.1727 72.5752C57.1727 65.7342 51.6269 60.1882 44.7857 60.1882C37.9444 60.1882 32.3989 65.7342 32.3989 72.5752V94.0477H57.1729V72.5752H57.1727V72.5752Z" fill="#333E48"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.948 100.104V95.4132C28.948 94.6622 29.5625 94.0477 30.3135 94.0477H59.2585C60.0095 94.0477 60.624 94.6622 60.624 95.4132V100.104H28.948V100.104Z" fill="#F2D383"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M50.8007 72.5753C50.8007 69.2535 48.1077 66.5605 44.7857 66.5605C41.464 66.5605 38.771 69.2535 38.771 72.5753H50.8007V72.5753Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M68.5051 41.016C68.5051 40.265 67.8907 39.6505 67.1397 39.6505H22.4322C21.6812 39.6505 21.0667 40.265 21.0667 41.016V49.8523C21.0667 50.6033 21.6812 51.2178 22.4322 51.2178H67.1399C67.8909 51.2178 68.5054 50.6033 68.5054 49.8523V41.016H68.5051V41.016Z" fill="white"/>
        <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M67.1397 39.6508H22.4322C21.6812 39.6508 21.0667 40.2653 21.0667 41.0163V45.0118C21.0667 44.2608 21.6812 43.6463 22.4322 43.6463H67.1399C67.8909 43.6463 68.5054 44.2608 68.5054 45.0118V41.0163C68.5052 40.265 67.8907 39.6508 67.1397 39.6508V39.6508Z" fill="black"/>
        <rect x="42.738" y="39.651" width="4.09625" height="11.568" fill="#333E48"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.1398 53.266H22.4323C20.5498 53.266 19.0188 51.7348 19.0188 49.8525V41.0163C19.0188 39.1338 20.55 37.6028 22.4323 37.6028H67.14C69.0225 37.6028 70.5536 39.134 70.5536 41.0163V49.8525C70.5536 51.7348 69.0223 53.266 67.1398 53.266V53.266ZM23.115 49.1698H66.4575V41.699H23.115V49.1698V49.1698Z" fill="#D68231"/>
        <rect opacity="0.1" x="11.2402" y="20.4282" width="70.5082" height="9.853" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.7503 17.242C81.7503 15.74 80.5213 14.5112 79.0195 14.5112H10.5523C9.05028 14.5112 7.82153 15.7402 7.82153 17.242V23.6142C7.82153 25.1162 9.05053 26.345 10.5523 26.345H79.0195C80.5215 26.345 81.7503 25.116 81.7503 23.6142V17.242V17.242V17.242Z" fill="#D68231"/>
        <rect opacity="0.1" x="71.9775" y="14.5105" width="9.773" height="88.6687" fill="black"/>
        <rect x="75.9429" y="9.84619" width="41.9025" height="93.3357" fill="#F2D383"/>
        <rect opacity="0.1" x="75.9429" y="58.2538" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="100.248" y="87.7225" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="103.435" y="39.0938" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="79.0396" y="25.1117" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="98.9751" y="12.0745" width="14.411" height="6.935" fill="black"/>
        <rect opacity="0.1" x="75.9429" y="9.84619" width="41.9025" height="6.28" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M105.75 29.5409C105.75 24.6499 101.785 20.6847 96.8941 20.6847C92.0031 20.6847 88.0381 24.6499 88.0381 29.5409V49.5584H105.75V29.5409H105.75V29.5409Z" fill="white"/>
        <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M96.8941 20.6847C92.0031 20.6847 88.0381 24.6499 88.0381 29.5409V33.3182C88.0381 28.4272 92.0031 24.4624 96.8941 24.4624C101.785 24.4624 105.75 28.4272 105.75 33.3182V29.5409C105.75 24.6499 101.785 20.6847 96.8941 20.6847V20.6847Z" fill="black"/>
        <rect opacity="0.2" x="88.0378" y="29.5413" width="17.712" height="4.413" fill="black"/>
        <rect x="88.0378" y="37.5017" width="17.712" height="4.09625" fill="#333E48"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M96.8942 18.6367C90.8817 18.6367 85.9902 23.5282 85.9902 29.541V49.5585C85.9902 50.69 86.907 51.6067 88.0385 51.6067H105.75C106.882 51.6067 107.799 50.69 107.799 49.5585V29.541C107.798 23.5282 102.907 18.6367 96.8942 18.6367V18.6367ZM96.8942 22.733C99.9347 22.733 102.515 24.7367 103.387 27.493H90.402C91.273 24.7367 93.8537 22.733 96.8942 22.733V22.733ZM103.702 47.5105H90.0865V31.5892H103.702V47.5105V47.5105Z" fill="#D68231"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M105.75 69.0475C105.75 64.1565 101.785 60.1918 96.8941 60.1918C92.0031 60.1918 88.0381 64.1565 88.0381 69.0475V89.0655H105.75V69.0475H105.75V69.0475Z" fill="white"/>
        <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M96.8941 60.1918C92.0031 60.1918 88.0381 64.1565 88.0381 69.0475V72.8255C88.0381 67.9345 92.0031 63.9693 96.8941 63.9693C101.785 63.9693 105.75 67.9345 105.75 72.8255V69.0475C105.75 64.1565 101.785 60.1918 96.8941 60.1918V60.1918Z" fill="black"/>
        <rect opacity="0.2" x="88.0378" y="69.046" width="17.712" height="4.413" fill="black"/>
        <rect x="88.0378" y="77.0093" width="17.712" height="4.09625" fill="#333E48"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M96.8942 58.1436C90.8817 58.1436 85.9902 63.0348 85.9902 69.0473V89.0653C85.9902 90.1968 86.907 91.1136 88.0385 91.1136H105.75C106.882 91.1136 107.799 90.1968 107.799 89.0653V69.0476C107.798 63.0348 102.907 58.1436 96.8942 58.1436V58.1436ZM96.8942 62.2401C99.9345 62.2401 102.515 64.2433 103.387 66.9993H90.4022C91.2732 64.2436 93.8537 62.2401 96.8942 62.2401V62.2401ZM103.702 87.0173H90.0865V71.0956H103.702V87.0173V87.0173Z" fill="#D68231"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M128 105.155C128 105.762 127.504 106.258 126.897 106.258H1.103C0.49625 106.258 0 105.762 0 105.155V101.207C0 100.6 0.49625 100.104 1.103 100.104H126.897C127.504 100.104 128 100.6 128 101.207V105.155V105.155Z" fill="#A4A9AD"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M120.991 2.97245C120.991 1.47045 119.762 0.241699 118.26 0.241699H75.5276C74.0256 0.241699 72.7969 1.4707 72.7969 2.97245V9.3447C72.7969 10.8467 74.0259 12.0754 75.5276 12.0754H118.26C119.762 12.0754 120.991 10.8464 120.991 9.3447V2.97245V2.97245Z" fill="#D68231"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M126.897 100.104H70.0078V106.258H126.897C127.504 106.258 128 105.762 128 105.155V101.207C128 100.6 127.504 100.104 126.897 100.104V100.104Z" fill="#D1D3D3"/>
        </svg>
      <h2>Ahmedabad</h2>
    </div>
    <div>
      <h2>Cg Road</h2>
    </div>
    <div>
      <h2>Vastrapur</h2>
    </div>
    <div>
      <h2>Gandhi Nagar</h2>
    </div>
    <div>
      <h2>Shahibaug</h2>
    </div>
    <div>
      <h2>Aslali</h2>
    </div>
  </div>
</section>